.closeAction {
  background-color: #ffb9b980;
  border-radius: 50px;
  width: fit-content;
  margin-right: 20px;
}
.closeActionText {
  margin-left: 8px;
}
.actionMargin {
  margin-right: 20px;
}
.titleContainer {
  height: 90px;
}
.actionHeight {
  height: 45px;
}
.hideActions {
  display: none;
}
