.overAll-none {
  border: none;
}

.rowScroll {
  overflow: auto;
}

.rowPonter {
  cursor: pointer;
}
.overAll {
  background-color: var(--color-white);
}

.headerContainer {
  background-color: var(--color-primary-shade-4);
  padding: 20px;
  margin-top: 24px;
}
