.leftOverall {
  width: 20%;
  height: 88vh;
  border-right: 3px solid rgba(0, 0, 0, 0.09);
}

.PrfileleftOverall {
  width: 20%;
  height: 88vh;
}

.rightOverall {
  width: 80%;
}

.contentSpace {
  margin: 2%;
}

.marginLeft10 {
  margin-left: 1rem;
}

.marginTopToggel {
  margin-top: 0.5rem;
}

.marginTopDp {
  margin-top: 50%;
}

.toggelLabel {
  color: var(--color-gray-5);
}

.rightHead {
  color: var(--color-text-shade-2);
}

.rightSearch {
  align-self: center;
}

.notifyCardLayout {
  margin: 0 2%;
  border-bottom: 2px solid var(--color-gray-2);
}

.rightHeadFlex {
  padding: 2% 1%;
  height: 80px;
  justify-content: center;
}

.rightListFlexStyle {
  background-color: var(--color-primary-shade-2);
  padding: 2% 0%;
  height: 80px;
  justify-content: center;
  cursor: pointer;
}

.rightListFlexStyleInactive {
  padding: 2% 0%;
  height: 80px;
  justify-content: center;
  cursor: pointer;
}

.rightListInactive {
  color: var(--color-text-shade-3);
  justify-content: center;
}

.rightListActive {
  color: var(--color-black);
  justify-content: center;
}

.iconCenter {
  margin-top: 7%;
  margin-left: 2%;
}

.inputFlexMarginRight {
  margin-right: 8px;
  width: 40%;
}
.inputFlexMarginLeft {
  margin-left: 8px;
  width: 40%;
}

.mainFieldWidth {
  margin: 10px 0;
  width: 82%;
}
.marginVer {
  margin: 16px 0;
}

.profileOverall {
  position: relative;
  padding: 20px;
}
