.overAll {
  background-color: var(--color-white);
  /* padding-bottom: 20px; */
  overflow-y: scroll;
}
.settingText {
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
}
.listText {
  padding: 20px 16px;
  width: 100%;
  border-radius: 0;
}
.leftContainer {
  box-shadow: 3px 4px 4px 0px #0000001a;
  /* border-right: 3px solid var(--color-gray-2); */
}
.activeModule {
  background-color: var(--color-primary-shade-1);
}
.rightOverall {
  width: 100%;
}

.rightOverall {
  padding: 24px;
}
