@font-face {
  font-family: "Poppins-Regular";
  src: url("../public/assets/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("../public/assets/fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Poppins-Italic";
  src: url("../public/assets/fonts/Poppins-Italic.ttf");
}
@font-face {
  font-family: "Poppins-Black";
  src: url("../public/assets/fonts/Poppins-Black.ttf");
}
@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../public/assets/fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("../public/assets/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../public/assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Poppins-MediumItalic";
  src: url("../public/assets/fonts/Poppins-MediumItalic.ttf");
}

body {
  margin: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset; /* Change the color to your own background color */
  -webkit-text-fill-color: var(--color-text-shade-1);
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset; /*your box-shadow*/
  -webkit-text-fill-color: var(--color-text-shade-1);
}

.ant-menu-light .ant-menu-item-selected {
  background-color: var(--color-primary-shade-3) !important;
  margin: 0;
  border-radius: 0;
  height: 60px;
  font-size: 18px;
  font-family: "Poppins-Medium";
  color: var(--color-text-shade-1) !important;
  padding-left: 30px !important;
  padding-right: 30px;
}

.ant-menu-inline .ant-menu-item {
  background-color: var(--color-white);
  height: 60px;
  border-radius: 0;
  margin-inline: 0;
  margin-block: 0;
  width: 100%;
  border-bottom: 1px solid var(--color-gray-2);
  font-size: 18px;
  font-family: "Poppins-Medium";
  color: var(--color-text-shade-3);
  padding-left: 30px !important;
  padding-right: 30px;
}
.ant-menu-inline.ant-menu-root .ant-menu-item > .ant-menu-title-content {
  padding-left: 16px;
}
.ant-menu-vertical .ant-menu-item {
  margin-inline: 0;
  margin-block: 0;
  width: 100%;
  line-height: 60px;
  height: 60px;
  border-bottom: 1px solid var(--color-gray-2);
}
.ant-layout-header {
  line-height: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

::-webkit-scrollbar-thumb:hover {
  background: #6e6e6e;
}
.react-calendar__navigation__next2-button {
  display: none !important;
}
.react-calendar__navigation__prev2-button {
  display: none !important;
}
.react-calendar__navigation {
  background-color: var(--color-primary-shade-4);
  height: 56px !important;
}
.react-calendar__navigation__label__labelText {
  color: #333333 !important;
  font-family: "Poppins-Medium" !important;
}
.react-calendar__month-view__weekdays__weekday {
  color: var(--color-text-shade-2) !important;
  font-family: "Poppins-Medium" !important;
}

.react-calendar__month-view__weekdays__weekday > abbr {
  text-decoration: none !important;
}

.react-calendar__month-view__days__day {
  color: var(--color-text-shade-1) !important;
  font-family: "Poppins-Medium" !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--color-text-shade-3) !important;
  font-family: "Poppins-Medium" !important;
}
.react-calendar__tile--now {
  background: transparent !important;
}
.react-calendar__tile--hasActive {
  background: transparent !important;
}
.react-calendar {
  border: none !important;
}
.react-calendar__tile--active {
  background: transparent !important;
}
